<servlet>
    <servlet-name>nclodger</servlet-name>
    <servlet-class>
        org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
    <servlet-mapping>
        <servlet-name>nclodger</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</servlet>
